In [1]:
import numpy as np, pandas as pd

In [2]:
df_index = pd.read_excel('D:sp_index.xlsx' , header=2).iloc[:,1:].sort_index(axis=0 , ascending = False).reset_index().iloc[:,1:]
df_index.head()

        Date   Value
0 2020-05-31  0.0453
1 2020-06-30  0.0184
2 2020-07-31  0.0551
3 2020-08-31  0.0701
4 2020-09-30 -0.0392

In [3]:
df_index.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    50 non-null     datetime64[ns]
 1   Value   50 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 928.0 bytes

In [4]:
df_index.loc[2,'Date']

Timestamp('2020-07-31 00:00:00')

In [5]:
df_factor = pd.read_csv('D:[usa]_[all_factors]_[monthly]_[ew].csv')
df_factor

,location,name,freq,weighting,direction,n_stocks,n_stocks_min,date,ret
0,usa,age,monthly,ew,-1,502,8,1926/03/31,-0.066167
1,usa,age,monthly,ew,-1,505,12,1926/04/30,0.010546
2,usa,age,monthly,ew,-1,510,17,1926/05/31,-0.020292
3,usa,age,monthly,ew,-1,512,21,1926/06/30,-0.008927
4,usa,age,monthly,ew,-1,503,23,1926/07/31,0.017724
...,...,...,...,...,...,...,...,...,...
142779,usa,zero_trades_252d,monthly,ew,1,3841,1554,2023/08/31,0.067512
142780,usa,zero_trades_252d,monthly,ew,1,3832,1548,2023/09/30,0.044560
142781,usa,zero_trades_252d,monthly,ew,1,3833,1547,2023/10/31,0.064437
142782,usa,zero_trades_252d,monthly,ew,1,3826,1575,2023/11/30,-0.037080
142783,usa,zero_trades_252d,monthly,ew,1,3807,1566,2023/12/31,-0.042181

In [6]:
df_factor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142784 entries, 0 to 142783
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   location      142784 non-null  object
 1   name          142784 non-null  object
 2   freq          142784 non-null  object
 3   weighting     142784 non-null  object
 4   direction     142784 non-null  int64
 5   n_stocks      142784 non-null  int64
 6   n_stocks_min  142784 non-null  int64
 7   date          142784 non-null  object
 8   ret           142784 non-null  float64
dtypes: float64(1), int64(3), object(5)
memory usage: 9.8+ MB

In [7]:
df_factor1 = df_factor[['name','date','ret']]
df_factor1.head()

  name        date       ret
0  age  1926/03/31 -0.066167
1  age  1926/04/30  0.010546
2  age  1926/05/31 -0.020292
3  age  1926/06/30 -0.008927
4  age  1926/07/31  0.017724

In [8]:
df_factor1.iloc[0,1]

'1926/03/31'

In [9]:
df_index.shape

(50, 2)

In [11]:
df_factor1.tail()

                    name        date       ret
142779  zero_trades_252d  2023/08/31  0.067512
142780  zero_trades_252d  2023/09/30  0.044560
142781  zero_trades_252d  2023/10/31  0.064437
142782  zero_trades_252d  2023/11/30 -0.037080
142783  zero_trades_252d  2023/12/31 -0.042181

In [15]:
df_factor1['name'].nunique()

153

In [20]:
list_factor = list(df_factor1['name'].value_counts().index[:10])
print(list_factor)

['prc', 'market_equity', 'ret_1_0', 'coskew_21d', 'zero_trades_21d', 'rvol_21d', 'rskew_21d', 'ivol_capm_21d', 'rmax5_21d', 'iskew_capm_21d']

In [30]:
df_factor2 = df_factor1[df_factor1['name'].isin(list_factor)]
df_factor2.head()

             name        date       ret
26049  coskew_21d  1926/02/28 -0.003571
26050  coskew_21d  1926/03/31 -0.008811
26051  coskew_21d  1926/04/30  0.021775
26052  coskew_21d  1926/05/31 -0.003542
26053  coskew_21d  1926/06/30 -0.002947

In [29]:
# df_factor1[df_factor1['name'].apply(lambda x: x in list_factor)]

In [31]:
df_factor2.shape

(11752, 3)

In [33]:
list_year = df_index['Date'].apply(lambda x: x.year)

In [37]:
list_year[40]

2023

In [39]:
int(df_factor2['date'].str[:4][141610]) == list_year[40]

True

In [49]:
a = df_factor2['date'].apply(lambda x: int(x[:4])).isin(list_year)
df_factor3 = df_factor2[a]
df_factor3.head()

             name        date       ret
27176  coskew_21d  2020/01/31  0.048014
27177  coskew_21d  2020/02/29  0.002111
27178  coskew_21d  2020/03/31  0.002806
27179  coskew_21d  2020/04/30  0.022224
27180  coskew_21d  2020/05/31 -0.006099

In [53]:
df_factor3['new_date'] = df_factor3['date'].str[:7]
df_factor3.head()

<ipython-input-53-c71c6590252d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_factor3['new_date'] = df_factor3['date'].str[:7]

             name        date       ret new_date
27176  coskew_21d  2020/01/31  0.048014  2020/01
27177  coskew_21d  2020/02/29  0.002111  2020/02
27178  coskew_21d  2020/03/31  0.002806  2020/03
27179  coskew_21d  2020/04/30  0.022224  2020/04
27180  coskew_21d  2020/05/31 -0.006099  2020/05

In [48]:
df_index.head()

        Date   Value
0 2020-05-31  0.0453
1 2020-06-30  0.0184
2 2020-07-31  0.0551
3 2020-08-31  0.0701
4 2020-09-30 -0.0392

In [55]:
# df_index['Date'].apply(lambda x: str(x.year)+'/'+str(x.month))

In [61]:
str(df_index.iloc[0,0]).replace('-','/')[:7]

'2020/05'

In [57]:
b = df_index['Date'].apply(lambda x: str(x).replace('-','/')[:7])
df_index['value_date'] = b
df_index.head()

        Date   Value value_date
0 2020-05-31  0.0453    2020/05
1 2020-06-30  0.0184    2020/06
2 2020-07-31  0.0551    2020/07
3 2020-08-31  0.0701    2020/08
4 2020-09-30 -0.0392    2020/09

In [62]:
n = 1
list_factor[n]

'market_equity'

In [64]:
df_factor4 = df_factor3[df_factor3['name']==list_factor[n]]
df_factor4.head()

                name        date       ret new_date
63091  market_equity  2020/01/31 -0.002362  2020/01
63092  market_equity  2020/02/29  0.013139  2020/02
63093  market_equity  2020/03/31 -0.056472  2020/03
63094  market_equity  2020/04/30  0.066234  2020/04
63095  market_equity  2020/05/31  0.005801  2020/05

In [66]:
data_merge = pd.merge(df_index,df_factor4,left_on='value_date',right_on='new_date',how='inner')
data_merge.head()

        Date   Value value_date           name        date       ret new_date
0 2020-05-31  0.0453    2020/05  market_equity  2020/05/31  0.005801  2020/05
1 2020-06-30  0.0184    2020/06  market_equity  2020/06/30  0.079716  2020/06
2 2020-07-31  0.0551    2020/07  market_equity  2020/07/31 -0.020536  2020/07
3 2020-08-31  0.0701    2020/08  market_equity  2020/08/31 -0.003762  2020/08
4 2020-09-30 -0.0392    2020/09  market_equity  2020/09/30 -0.010444  2020/09

In [71]:
data_merge2 = data_merge.rename(columns={'Value':'index_return','ret':'factor_return','new_date':'year-month','name':'factor_name'})
df_factor5 = data_merge2[['factor_name','year-month','index_return','factor_return']]
df_factor5.head()

     factor_name year-month  index_return  factor_return
0  market_equity    2020/05        0.0453       0.005801
1  market_equity    2020/06        0.0184       0.079716
2  market_equity    2020/07        0.0551      -0.020536
3  market_equity    2020/08        0.0701      -0.003762
4  market_equity    2020/09       -0.0392      -0.010444

In [72]:
final1 = df_factor5

In [74]:
np.corrcoef(final1['index_return'] , final1['factor_return'])[0,1]

-0.04458630984705068

In [75]:
import statsmodels.api as sm

In [76]:
final1['intercept'] = 1
final1.head()

<ipython-input-76-8a8dc98b3e22>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final1['intercept'] = 1

     factor_name year-month  index_return  factor_return  intercept
0  market_equity    2020/05        0.0453       0.005801          1
1  market_equity    2020/06        0.0184       0.079716          1
2  market_equity    2020/07        0.0551      -0.020536          1
3  market_equity    2020/08        0.0701      -0.003762          1
4  market_equity    2020/09       -0.0392      -0.010444          1

In [79]:
lm = sm.OLS(final1['index_return'] , final1[['factor_return','intercept']])
lm.fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:           index_return   R-squared:                       0.002
Model:                            OLS   Adj. R-squared:                 -0.022
Method:                 Least Squares   F-statistic:                   0.08366
Date:                Sat, 03 Aug 2024   Prob (F-statistic):              0.774
Time:                        09:31:13   Log-Likelihood:                 69.325
No. Observations:                  44   AIC:                            -134.6
Df Residuals:                      42   BIC:                            -131.1
Df Model:                           1
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
factor_return    -0.0468      0.162     -0.289      0.774      -0.373       0.280
intercept         0.0124      0.008      1.604      0.116      -0.003       0.028
==============================================================================
Omnibus:                        1.743   Durbin-Watson:                   2.333
Prob(Omnibus):                  0.418   Jarque-Bera (JB):                1.498
Skew:                          -0.304   Prob(JB):                        0.473
Kurtosis:                       2.331   Cond. No.                         20.9
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [80]:
df_factor3.head()

             name        date       ret new_date
27176  coskew_21d  2020/01/31  0.048014  2020/01
27177  coskew_21d  2020/02/29  0.002111  2020/02
27178  coskew_21d  2020/03/31  0.002806  2020/03
27179  coskew_21d  2020/04/30  0.022224  2020/04
27180  coskew_21d  2020/05/31 -0.006099  2020/05

In [81]:
list_factor

['prc',
 'market_equity',
 'ret_1_0',
 'coskew_21d',
 'zero_trades_21d',
 'rvol_21d',
 'rskew_21d',
 'ivol_capm_21d',
 'rmax5_21d',
 'iskew_capm_21d']

In [85]:
total_return = {}

for i in list_factor:
    df1 = df_factor3[df_factor3['name']==i]
    df2 = pd.merge(df_index,df1,left_on='value_date',right_on='new_date',how='inner')
    total_return[i] = np.corrcoef(df2['ret'] , df2['Value'])[0,1]

In [86]:
total_return

{'prc': 0.03692922274854804,
 'market_equity': -0.044586309847050684,
 'ret_1_0': 0.2991285526692874,
 'coskew_21d': -0.11422087361212509,
 'zero_trades_21d': -0.4562461207751767,
 'rvol_21d': -0.4693619902591851,
 'rskew_21d': -0.11141947469193673,
 'ivol_capm_21d': -0.4305939600909158,
 'rmax5_21d': -0.4686749359350527,
 'iskew_capm_21d': -0.07383996791314383}

In [95]:
my_max = max([abs(i) for i in total_return.values()])

In [96]:
[i for (i,j) in total_return.items() if j==my_max or j==my_max*-1]

['rvol_21d']